@model MiniWebERP.Web.ViewModels.Customers.CustomersListViewModel

@{
    ViewData["Title"] = "Customers";
}

    <section class="tables">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <a asp-controller="Customers" asp-action="Create" class="btn btn-outline-primary">Create New</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Company Name</th>
                                            <th>EIK</th>
                                            <th>City</th>
                                            <th>Address Line1</th>
                                            <th>Address Line2</th>
                                            <th>Contact Person</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var customer in Model.Customers)
                                        {
                                            <tr>
                                                <td>@customer.CompanyName</td>
                                                <td>@customer.EIK</td>
                                                <td>@customer.City</td>
                                                <td>@customer.AddressLine1</td>
                                                <td>@customer.AddressLine2</td>
                                                <td>@customer.ContactPerson</td>
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = customer.Id }) |
                                                    @Html.ActionLink("Details", "Details", new { id = customer.Id }) |
                                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
